main {
	display: grid;
	padding-top: 40px;
	grid-auto-rows: 220px;
}

.color {
	justify-self: center;
	width: 600px;
	height: 360px;
	border-collapse: collapse;
}

.color td {
	border: 1px solid black;
}

.processor {
	justify-self: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	width: 600px;
	height: 150px;
	border-collapse: collapse;
}

.processor th {
	background-color: rgba(219, 216, 216, 0.897);
}

.processor td,
.processor th {
	padding: 7px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
}

.processor td:nth-child(1),
.processor th:nth-child(1) {
	text-align: left;
}

.processor td:nth-child(4),
.processor th:nth-child(4) {
	text-align: right;
}

.processor tbody tr:nth-child(even) {
	background-color: rgba(187, 4, 4, 0.863);
	color: rgb(190, 207, 214);
}

.processor tbody tr:nth-child(odd) {
	background-color: #f34500ce;
}

.color tr:nth-child(1) td:nth-child(2) {
	background-color: red;
}

.color tr:nth-child(3) td:nth-child(1) {
	background-color: lime;
}

.color tr:nth-child(1) td:nth-child(1) {
	background-color: cornflowerblue;
}

.color tr:nth-child(2) td:nth-child(2) {
	background-color: black;
}

.color tr:nth-child(2) td:nth-child(1) {
	background-color: yellow;
}
